# Only needed if building from source, instead of `brew install helix`
home/.config/helix/runtime
home/.config/fish/fish_variables

# Fish
home/.config/fish/config.fish

# Secrets
home/.config/fish/conf.d/docker-secrets.fish