[tasks.stow]
description = "Apply dotfiles"
run = """
stow --restow --no-folding home
echo "Applied dotfiles"
"""

[tasks.clean]
description = "Remove applied dotfiles"
run = """
stow -D --no-folding home
echo "Removed applied dotfiles"
"""

[tasks.macos-apply]
description = "Apply all yaml files in the macos-prefs directory"
run = """
uname | grep -qi 'darwin' || { echo "Not macOS. Skipping macos-prefs apply."; exit 0; }
command -v macos-defaults >/dev/null 2>&1 || { echo "macos-defaults not installed. please install: brew install dsully/tap/macos-defaults"; exit 0; }
for file in macos-defaults/*.yaml; do
  macos-defaults apply $file
done
"""

