[user]
  email = sam@zanca.dev
	name = Sam Zanca
# Change username if on work machine. Work machine has whoami=sentience
[includeIf "gitdir:/Users/sentience/"]
  path = ~/.gitconfig-work

[init]
  defaultBranch = main
[advice]
  statusHints = false
[alias]
  # This is a utility for other custom aliases
  master = !sh -c \"git remote show origin | grep 'HEAD branch' | cut -d' ' -f5\"
  rename = branch -m --
  undo = reset HEAD~1 --mixed
  co = checkout
  # Simplified status (shows branch and dirty status)
  st = status -sb -uall --renames
  # Quick commit everything
  qc = "!f() { git add -A && git commit -m \"$@\"; }; f"
  # Quickly no-verify commit staged changes
  qcn = "!f() { git commit --no-verify -m \"$@\"; }; f"
  publish = !sh -c \"git push --set-upstream origin $(git branch --show-current)\"
  detach = checkout --detach
  attach = checkout -
  clear = !sh -c \"git reset --hard && git checkout . && git clean -fd\"
[core]
  excludesfile = ~/.gitignore_global
[fetch]
	prune = true
	all = true